body {
  background-color: darksalmon;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
H1 {
  text-align: center;
}
.hangman-image {
  width: 300px;
  height: 200px;
  margin-top: -50px;
}
.hints {
  text-align: justify;
  margin-top: 100px;
  flex-wrap: wrap;
  font-size: larger;
}
.guessed {
  height: 30px;
  width: 200px;
  margin-top: 50px;
}
.guess {
  height: 35px;
  width: 100px;
  background-color: rgba(224, 53, 53, 0.99);
  border: none;
  color: black;
}
.levels {
  border-radius: 30%;
  text-align: center;
  margin-left: 1050px;
  position: left;
}
.theboard {
  margin: 60px 100px 40px 150px;
  /* display: flex; */
  width: 1000px;
  height: 800px;
  gap: 70px;
  padding: 60px 40px 40px;
  background-color: blanchedalmond;
  align-items: center;

  /* justify-content: center; */
}
/* .guessed {
  margin: -10px 10px 10px 100px;
  align-items: center;
}
.guess {
  margin: 400px 0px 100px 0px;
  align-items: end;
} */

.center {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer {
  margin-right: 0px;
}
.playagain {
  width: fit-content;
  margin-left: 850px;
  background-color: rgba(221, 8, 8, 0.99);
}
ul.wordinboard {
  font-size: 100px;
  margin-top: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.wrongattempt {
  text-align: right;
  margin-top: 100px;
  flex-wrap: wrap;
  font-size: larger;
}
